//extends layout
doctype html
html(lang="en")
    head

        title='WELLS'
        link(rel='stylesheet', href='/javascripts/bootstrap/css/bootstrap.min.css')
        link(rel='stylesheet', href='/javascripts/bootstrap/css/bootstrap-responsive.min.css')
        link(rel='stylesheet', href='/stylesheets/metricsgraphics.css')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
        script(src='/javascripts/bootstrap/js/bootstrap.min.js')
        script(src='/javascripts/bootstrap/js/bootstrap.min.js')
        script(src='/javascripts/d3.js')
        script(src='http://code.jquery.com/jquery-1.11.3.min.js')
        script(src='http://code.jquery.com/jquery-migrate-1.2.1.min.js')
        link(rel='stylesheet', href='/stylesheets/style.css')
        each s in scripts
            script(src=s)
    body
        block content
          h1= title
          #graph1.graph1
          #graph2.graph2
          #graph3.graph3
          #graph4.graph4
          #graph5.graph5
          #graph6.graph6
          #legend.legend



              data
